numpy           # Obsługa obliczeń numerycznych
scipy           # Funkcje matematyczne i sygnałowe
matplotlib      # Wizualizacja danych
sympy           # Obliczenia symboliczne
ipykernel       # Uruchamianie notebooków Jupyter
scikit-learn    # Uczenie maszynowe
pandas          # Analiza i manipulacja danymi
jax             # Wydajne obliczenia numeryczne

