numpy<=2.3      # Podstawowe obliczenia numeryczne
numba           # Kompilacja Just-In-Time dla przyspieszenia
matplotlib      # Wizualizacja danych
sympy           # Symboliczne obliczenia matematyczne
scipy           # Obliczenia naukowe
pandas          # Analiza i manipulacja danymi
jax[cuda12]     # Wydajne obliczenia numeryczne z obsługą GPU
ipykernel       # Obsługa Jupyter Notebook
